/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-header {
  z-index: 9999999;
  height: 50px;
  left: 100px;
  width: calc(100% - 100px);
  background-color: blue;
  top: 0px;

  position: fixed !important;
}

.mat-tab-body-wrapper {
  margin-top: 20px;
}