/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-header{
    width: 100%;
    position: fixed !important;
    z-index: 2;
}
.mat-tab-body-wrapper{
    position: relative !important;
    margin-top:100px;
    z-index:1;
}