<div>
  <h4><mark>Автомобиль : </mark> {{name}}
    <small>{{model}}</small>
  </h4>
  <div class="alert alert-success">
    Характеристики:
    <ul>
      <li>Скорость:<strong>{{speed}}</strong></li>
      <li>цвет салона:<strong>{{colors.salon}}</strong></li>
      <li>цвет кузова:<strong>{{colors.car}}</strong></li>
      <li>цвет дисков:<strong>{{colors.wheels}}</strong></li>
    </ul>
  </div>

  <button class="btn btn-danger" (click)="showEdit()">Редактировать</button>
  <form *ngIf=isEdit>
    <div class="form-group">
      <h5>Редактирование:</h5>
      <!-- <input type="text" placeholder="Марка" class="form-control" [(ngModel)]="name" name="name"><br>
        <input type="text" placeholder="Модель" class="form-control" [(ngModel)]="model" name="model"><br>
        <input type="number" placeholder="Скорость" class="form-control" [(ngModel)]="speed" name="speed"><br>
        <input type="text" placeholder="Цвет салона" class="form-control" [(ngModel)]="colors.salon" name="colors.salon"><br>
        <input type="text" placeholder="Цвет кузова" class="form-control" [(ngModel)]="colors.car" name="colors.car"><br>
        <input type="text" placeholder="Цвет дисков" class="form-control" [(ngModel)]="colors.wheels" name="colors.wheels"><br> -->
    </div>
  </form>

  <div class="alert alert-warning">
    <ul>
      <li *ngFor="let option of options">{{option}} <button class="btn btn-warning btn-sm"
          (click)="deleteOpt(option)">X</button></li>
    </ul>
  </div>

  <h5>Выберите автомобиль</h5>
  <button class="btn btn-danger" (click)="carSelect('bmw')">bmw</button>
  <button class="btn btn-success" (click)="carSelect('audi')">audi</button>
  <button class="btn btn-info" (click)="carSelect('mercedes')">mercedes</button>
  <ul>
    <li>Скорость:<strong>{{speed}}</strong></li>
    <li>цвет салона:<strong>{{colors.salon}}</strong></li>
    <li>цвет кузова:<strong>{{colors.car}}</strong></li>
    <li>цвет дисков:<strong>{{colors.wheels}}</strong></li>
  </ul>
  <ul>
    <li>Скорость:<strong>{{speed}}</strong></li>
    <li>цвет салона:<strong>{{colors.salon}}</strong></li>
    <li>цвет кузова:<strong>{{colors.car}}</strong></li>
    <li>цвет дисков:<strong>{{colors.wheels}}</strong></li>
  </ul>
  <ul>
    <li>Скорость:<strong>{{speed}}</strong></li>
    <li>цвет салона:<strong>{{colors.salon}}</strong></li>
    <li>цвет кузова:<strong>{{colors.car}}</strong></li>
    <li>цвет дисков:<strong>{{colors.wheels}}</strong></li>
  </ul>
  <ul>
    <li>Скорость:<strong>{{speed}}</strong></li>
    <li>цвет салона:<strong>{{colors.salon}}</strong></li>
    <li>цвет кузова:<strong>{{colors.car}}</strong></li>
    <li>цвет дисков:<strong>{{colors.wheels}}</strong></li>
  </ul>
  <ul>
    <li>Скорость:<strong>{{speed}}</strong></li>
    <li>цвет салона:<strong>{{colors.salon}}</strong></li>
    <li>цвет кузова:<strong>{{colors.car}}</strong></li>
    <li>цвет дисков:<strong>{{colors.wheels}}</strong></li>
  </ul>
  <ul>
    <li>Скорость:<strong>{{speed}}</strong></li>
    <li>цвет салона:<strong>{{colors.salon}}</strong></li>
    <li>цвет кузова:<strong>{{colors.car}}</strong></li>
    <li>цвет дисков:<strong>{{colors.wheels}}</strong></li>
  </ul>
  <ul>
    <li>Скорость:<strong>{{speed}}</strong></li>
    <li>цвет салона:<strong>{{colors.salon}}</strong></li>
    <li>цвет кузова:<strong>{{colors.car}}</strong></li>
    <li>цвет дисков:<strong>{{colors.wheels}}</strong></li>
  </ul>
  <ul>
    <li>Скорость:<strong>{{speed}}</strong></li>
    <li>цвет салона:<strong>{{colors.salon}}</strong></li>
    <li>цвет кузова:<strong>{{colors.car}}</strong></li>
    <li>цвет дисков:<strong>{{colors.wheels}}</strong></li>
  </ul>
  <ul>
    <li>Скорость:<strong>{{speed}}</strong></li>
    <li>цвет салона:<strong>{{colors.salon}}</strong></li>
    <li>цвет кузова:<strong>{{colors.car}}</strong></li>
    <li>цвет дисков:<strong>{{colors.wheels}}</strong></li>
  </ul>
  <ul>
    <li>Скорость:<strong>{{speed}}</strong></li>
    <li>цвет салона:<strong>{{colors.salon}}</strong></li>
    <li>цвет кузова:<strong>{{colors.car}}</strong></li>
    <li>цвет дисков:<strong>{{colors.wheels}}</strong></li>
  </ul>
  <ul>
    <li>Скорость:<strong>{{speed}}</strong></li>
    <li>цвет салона:<strong>{{colors.salon}}</strong></li>
    <li>цвет кузова:<strong>{{colors.car}}</strong></li>
    <li>цвет дисков:<strong>{{colors.wheels}}</strong></li>
  </ul>
  <ul>
    <li>Скорость:<strong>{{speed}}</strong></li>
    <li>цвет салона:<strong>{{colors.salon}}</strong></li>
    <li>цвет кузова:<strong>{{colors.car}}</strong></li>
    <li>цвет дисков:<strong>{{colors.wheels}}</strong></li>
  </ul>
  <ul>
    <li>Скорость:<strong>{{speed}}</strong></li>
    <li>цвет салона:<strong>{{colors.salon}}</strong></li>
    <li>цвет кузова:<strong>{{colors.car}}</strong></li>
    <li>цвет дисков:<strong>{{colors.wheels}}</strong></li>
  </ul>
  <br>
  <br>
  <br>
  <p>p1</p>
  <br>
  <br>
  <br>
  <p>p2</p>
  <br>
  <br>
  <br>
  <p>p3</p>
  <br>
  <br>
  <br>
  <p>p4</p>
  <br>
  <br>
  <br>
  <p>p5</p>
</div>